{% block subject %}
    {{ template.subject }}
{% endblock %}

{% block body %}
    {% block content %}
        {% if template.translatable.styleCss %}
            {{ template.translatable.styleCss|raw }}
        {% endif %}
        <h1 class="name">{{ template.name }}</h1>
        <h3 class="subject">{{ template.subject }}</h3>
        {{ template.content|raw }}

        {# Fields from Sylius #}
        {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
            {% set url = channel.hostname is not null ? 'http://' ~ channel.hostname ~ path('sylius_shop_password_reset', { 'token': user.passwordResetToken}) : url('sylius_shop_password_reset', { 'token': user.passwordResetToken, '_locale': localeCode}) %}
        {% endif %}

        {% if sylius_bundle_loaded_checker('SyliusShopBundle') %}
            <a href="{{ url|raw }}">
                {{ 'sylius.email.password_reset.reset_your_password'|trans({}, null, localeCode) }}
            </a>
        {% else %}
            {{ 'sylius.email.password_reset.token'|trans({}, null, localeCode) }}: {{ user.passwordResetToken }}
        {% endif %}
    {% endblock %}
{% endblock %}
