{% block subject %}
    {{ template.subject }}
{% endblock %}

{% block body %}
    {% block content %}
        {% if template.translatable.styleCss %}
            {{ template.translatable.styleCss|raw }}
        {% endif %}
        <h1 class="name">{{ template.name }}</h1>
        <h3 class="subject">{{ template.subject }}</h3>
        {{ template.content|raw }}

        {# Fields from Sylius #}
        {% set url = channel.hostname is not null ? '//' ~ channel.hostname ~ path('sylius_shop_homepage', {'_locale': localeCode}) : url('sylius_shop_homepage', {'_locale': localeCode}) %}
        <a href="{{ url|raw }}">
            {{ 'sylius.email.user_registration.start_shopping'|trans({}, null, localeCode) }}
        </a>
    {% endblock %}
{% endblock %}
